<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Stock Search</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>{{input type="text" value=search placeholder="Search for a stock:" key-up=(action 'onFilterTextChange' ) }}</li>
        </ul>
    </div>
</div>

<h2>{{title}}</h2>

<!-- Some Fun with Foundation -->
<!-- This looks cool but might be hard to see for some so we will leave both titles up -->
<!-- Little extra color can't be bad -->
<span class="secondary badge">S</span>
<span class="success badge">T</span>
<span class="alert badge">O</span>
<span class="warning badge">C</span>
<span class="secondary badge">K</span>
<span class="success badge">_</span>
<span class="alert badge">S</span>
<span class="warning badge">E</span>
<span class="secondary badge">A</span>
<span class="success badge">R</span>
<span class="alert badge">C</span>
<span class="warning badge">H</span>

<div class="row">
    <div class="small-5 columns">

        {{#zf-accordion-menu}}
        <li>
            <a href="#">Search Results</a>
            <ul class="menu vertical nested">
                <table class="hover">
                    {{#each filteredList as |stock|}} {{#link-to "graph" stock.symbol tagName="tr" current-when="graph"}}
                    <td>{{stock.name}}</td>
                    <td>{{stock.symbol}}</td>
                    {{/link-to}} {{/each}}
                </table>
            </ul>
        </li>
        {{/zf-accordion-menu}}
    </div>


    <div class="small-7 columns">

        <section class="main">
            {{outlet}}
        </section>

    </div>
</div>